openapi: 3.1.0
info:
  title: Gimbal REST Applications Communications API
  version: v2
  description: 'The Gimbal REST API manages proximity and location assets for the Gimbal platform operated by Paedae/Infillion: applications, places (geofences and beacons), beacons and their configurations, and communications (notifications and triggers). All requests and responses use JSON.'
  contact:
    name: Gimbal Support
    url: https://support.gimbal.com/hc/en-us/
  license:
    name: Proprietary
servers:
- url: https://manager.gimbal.com/api
  description: Gimbal Manager API
security:
- OrganizationServerApiKey: []
tags:
- name: Communications
paths:
  /communications:
    get:
      tags:
      - Communications
      operationId: listCommunications
      summary: Get all communications
      responses:
        '200':
          description: Success
    post:
      tags:
      - Communications
      operationId: createCommunication
      summary: Create communication
      responses:
        '200':
          description: Success
        '422':
          $ref: '#/components/responses/Unprocessable'
  /communications/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Communications
      operationId: getCommunication
      summary: Get single communication
      responses:
        '200':
          description: Success
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Communications
      operationId: updateCommunication
      summary: Update communication
      responses:
        '200':
          description: Success
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Communications
      operationId: deleteCommunication
      summary: Delete communication
      responses:
        '200':
          description: Success
        '404':
          $ref: '#/components/responses/NotFound'
  /communications/{id}/publish:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Communications
      operationId: publishCommunication
      summary: Publish communication
      responses:
        '200':
          description: Success
  /communications/{id}/stop:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Communications
      operationId: stopCommunication
      summary: Stop communication
      responses:
        '200':
          description: Success
  /communications/{id}/notification:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Communications
      operationId: getCommunicationNotification
      summary: Get notification
      responses:
        '200':
          description: Success
    post:
      tags:
      - Communications
      operationId: createCommunicationNotification
      summary: Create notification
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Communications
      operationId: deleteCommunicationNotification
      summary: Delete notification
      responses:
        '200':
          description: Success
  /communications/{id}/geofence_targets:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Communications
      operationId: getCommunicationGeofenceTargets
      summary: Get all geofence targets
      responses:
        '200':
          description: Success
    post:
      tags:
      - Communications
      operationId: createCommunicationGeofenceTargets
      summary: Create geofence targets
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Communications
      operationId: deleteCommunicationGeofenceTargets
      summary: Delete all geofence targets
      responses:
        '200':
          description: Success
  /communications/{id}/geofence_trigger:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Communications
      operationId: getCommunicationGeofenceTrigger
      summary: Get geofence trigger
      responses:
        '200':
          description: Success
    post:
      tags:
      - Communications
      operationId: createCommunicationGeofenceTrigger
      summary: Create geofence trigger
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Communications
      operationId: deleteCommunicationGeofenceTrigger
      summary: Delete geofence trigger
      responses:
        '200':
          description: Success
components:
  responses:
    Unprocessable:
      description: Unprocessable Entity (422)
    NotFound:
      description: Resource Not Found (404)
  securitySchemes:
    OrganizationServerApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Organization server API key passed as `Authorization: Token token=my_organization_server_api_key`.'
    ProximityOAuth2:
      type: oauth2
      description: Some Proximity APIs require an OAuth 2.0 access token instead of the organization server API key.
      flows:
        authorizationCode:
          authorizationUrl: https://manager.gimbal.com/oauth/authorize
          tokenUrl: https://manager.gimbal.com/oauth/token
          scopes: {}
