openapi: 3.1.0
info:
  title: Gimbal REST Applications Places API
  version: v2
  description: 'The Gimbal REST API manages proximity and location assets for the Gimbal platform operated by Paedae/Infillion: applications, places (geofences and beacons), beacons and their configurations, and communications (notifications and triggers). All requests and responses use JSON.'
  contact:
    name: Gimbal Support
    url: https://support.gimbal.com/hc/en-us/
  license:
    name: Proprietary
servers:
- url: https://manager.gimbal.com/api
  description: Gimbal Manager API
security:
- OrganizationServerApiKey: []
tags:
- name: Places
paths:
  /v2/places:
    get:
      tags:
      - Places
      operationId: listPlaces
      summary: Retrieve all places (supports filtering and pagination)
      parameters:
      - name: name
        in: query
        description: Filter by name (partial match).
        schema:
          type: string
      - name: page
        in: query
        description: Page of results to return. If per_page is given but page is not, page defaults to 1.
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of items per page. If page is given but per_page is not, per_page defaults to 50. Pagination is only performed when page or per_page is sent.
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Places
      operationId: createPlace
      summary: Create place with geofence and/or beacons
      responses:
        '200':
          description: Success
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v2/places/{placeId}:
    parameters:
    - name: placeId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Places
      operationId: getPlace
      summary: Get place detail
      responses:
        '200':
          description: Success
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Places
      operationId: updatePlace
      summary: Update place
      responses:
        '200':
          description: Success
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Places
      operationId: deletePlace
      summary: Delete place
      responses:
        '200':
          description: Success
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unprocessable:
      description: Unprocessable Entity (422)
    NotFound:
      description: Resource Not Found (404)
    Unauthorized:
      description: Unauthorized (401)
  securitySchemes:
    OrganizationServerApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Organization server API key passed as `Authorization: Token token=my_organization_server_api_key`.'
    ProximityOAuth2:
      type: oauth2
      description: Some Proximity APIs require an OAuth 2.0 access token instead of the organization server API key.
      flows:
        authorizationCode:
          authorizationUrl: https://manager.gimbal.com/oauth/authorize
          tokenUrl: https://manager.gimbal.com/oauth/token
          scopes: {}
